In [2]:
import pandas as pd
import numpy as np
import pandahouse as ph
from scipy import stats
import seaborn as sns

sns.set(rc={'figure.figsize':(11.7,8.27)})

In [3]:
connection = {
    'host': 'https://clickhouse.lab.karpov.courses',
    'password': 'dpo_python_2020',
    'user': 'student',
    'database': 'simulator_20221020'
}

In [4]:
query = '''
select exp_group, 
    user_id,
    sum(action = 'like') as likes,
    sum(action = 'view') as views,
    likes/views as ctr
from simulator_20221020.feed_actions
where toDate(time) between '2022-10-03' and '2022-10-09'
    and exp_group in (0, 1, 2, 3)
group by exp_group, user_id    
'''
df = ph.read_clickhouse(query, connection=connection)

In [5]:
df.head()

   exp_group  user_id  likes  views       ctr
0          3   115383      9     30  0.300000
1          1    18392      7     32  0.218750
2          3   123580     13     48  0.270833
3          2   131473     14    134  0.104478
4          2    32420     26    128  0.203125

In [6]:
#Ğ¡Ñ‡Ğ¸Ñ‚Ğ°ĞµĞ¼ Ğ¾Ğ±Ñ‰Ğ¸Ğ¹ CTR Ğ² ĞºĞ¾Ğ½Ñ‚Ñ€Ğ¾Ğ»ÑŒĞ½Ğ¾Ğ¹ Ğ³Ñ€ÑƒĞ¿Ğ¿Ğµ  ğ¶ğ‘‡ğ‘…ğ‘ğ‘œğ‘›ğ‘¡ğ‘Ÿğ‘œğ‘™=ğ‘ ğ‘¢ğ‘š(ğ‘™ğ‘–ğ‘˜ğ‘’ğ‘ )/ğ‘ ğ‘¢ğ‘š(ğ‘£ğ‘–ğ‘’ğ‘¤ğ‘ )
CTRc_0 = df[df.exp_group == 0].likes.sum() / df[df.exp_group == 0].views.sum()
CTRc_1 = df[df.exp_group == 1].likes.sum() / df[df.exp_group == 1].views.sum()

In [7]:
CTRc_0, CTRc_1

(0.20823612262916305, 0.20802680490126244)

In [8]:
#ĞŸĞ¾ÑÑ‡Ğ¸Ñ‚Ğ°ĞµĞ¼ Ğ² Ğ¾Ğ±ĞµĞ¸Ñ… Ğ³Ñ€ÑƒĞ¿Ğ¿Ğ°Ñ… Ğ¿Ğ¾ÑĞ·ĞµÑ€Ğ½ÑƒÑ Ğ¼ĞµÑ‚Ñ€Ğ¸ĞºÑƒ  ğ‘™ğ‘–ğ‘›ğ‘’ğ‘ğ‘Ÿğ‘–ğ‘§ğ‘’ğ‘‘_ğ‘™ğ‘–ğ‘˜ğ‘’ğ‘ =ğ‘™ğ‘–ğ‘˜ğ‘’ğ‘ âˆ’ğ¶ğ‘‡ğ‘…ğ‘ğ‘œğ‘›ğ‘¡ğ‘Ÿğ‘œğ‘™âˆ—ğ‘£ğ‘–ğ‘’ğ‘¤ğ‘ 
def lin_likes(x):
    if x.exp_group in [0,3]:
        ll = x['likes'] - CTRc_0 * x['views']
    if x.exp_group in [1,2]:
        ll = x['likes'] - CTRc_1 * x['views']
    return ll

In [9]:
df['linearized_likes'] = df.apply(lambda x: lin_likes(x), axis=1)
df.head()

   exp_group  user_id  likes  views       ctr  linearized_likes
0          3   115383      9     30  0.300000          2.752916
1          1    18392      7     32  0.218750          0.343142
2          3   123580     13     48  0.270833          3.004666
3          2   131473     14    134  0.104478        -13.875592
4          2    32420     26    128  0.203125         -0.627431

In [10]:
set_0 = df.query('exp_group == 0')
set_1 = df.query('exp_group == 1')
set_2 = df.query('exp_group == 2')
set_3 = df.query('exp_group == 3')

In [11]:
df.groupby('exp_group').ctr.mean()

exp_group
0    0.215950
1    0.215605
2    0.214419
3    0.232624
Name: ctr, dtype: float64

"ĞŸĞ¾ÑĞ·ĞµÑ€Ğ½Ñ‹Ğµ" CTR Ğ¿Ñ€Ğ°ĞºÑ‚Ğ¸Ñ‡ĞµÑĞºĞ¸ Ğ½Ğµ Ğ¾Ñ‚Ğ»Ğ¸Ñ‡Ğ°ÑÑ‚ÑÑ.

In [12]:
result_ctr_1 = stats.ttest_ind(set_0['ctr'],
                set_3['ctr'],
                equal_var=False).pvalue
result_lin_likes_1 = stats.ttest_ind(set_0['linearized_likes'],
                set_3['linearized_likes'],
                equal_var=False).pvalue

In [13]:
#ĞŸĞ¾ĞºĞ°Ğ·Ğ°Ñ‚ĞµĞ»Ğ¸ Ñ‚ĞµÑÑ‚Ğ° Ğ¼ĞµĞ¶Ğ´Ñƒ Ğ³Ñ€ÑƒĞ¿Ğ¿Ğ°Ğ¼Ğ¸ 0 Ğ¸ 3
result_ctr_1, result_lin_likes_1

(1.055849414662529e-43, 5.4914249479690016e-52)

In [14]:
result_ctr_2 = stats.ttest_ind(set_1['ctr'],
                set_2['ctr'],
                equal_var=False).pvalue
result_lin_likes_2 = stats.ttest_ind(set_1['linearized_likes'],
                set_2['linearized_likes'],
                equal_var=False).pvalue

In [15]:
#ĞŸĞ¾ĞºĞ°Ğ·Ğ°Ñ‚ĞµĞ»Ğ¸ Ñ‚ĞµÑÑ‚Ğ° Ğ¼ĞµĞ¶Ğ´Ñƒ Ğ³Ñ€ÑƒĞ¿Ğ¿Ğ°Ğ¼Ğ¸ 1 Ğ¸ 2
result_ctr_2, result_lin_likes_2

(0.4780623130874935, 9.439432187037712e-10)

Ğ’Ñ‹Ğ²Ğ¾Ğ´: Ğ’ Ğ¾Ğ±Ğ¾Ğ¸Ñ… Ñ‚ĞµÑÑ‚Ğ°Ñ… Ğ²Ğ¸Ğ´Ğ½Ğ¾ Ğ¾Ñ‚Ğ´Ğ¸Ñ‡Ğ¸Ğµ, p-value Ğ¿Ğ¾ Ğ¼ĞµÑ‚Ñ€Ğ¸ĞºĞµ Ğ»Ğ¸Ğ½ĞµĞ°Ñ€Ğ¸Ğ·Ğ¾Ğ²Ğ°Ğ½Ğ½Ñ‹Ñ… Ğ»Ğ°Ğ¹ĞºĞ¾Ğ² ÑÑ‚Ğ°Ğ»Ğ¾ Ğ¼ĞµĞ½ÑŒÑˆĞµ.